.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 25%;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

.new-game {
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 50px;
  padding: 20px 60px;
  font-size: 30px;
  border-radius: 33px;
}
